/* Configurações Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #24047c;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 1rem 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Banner Principal */
.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f3f6f8;
    margin-bottom: 20px;
}

/* Vitrine de Produtos */
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Card Individual */
.card {
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

.card strong {
    display: block;
    font-size: 1.2rem;
    color: #116e38;
    margin-bottom: 15px;
}

/* Botão de Compra */
button {
    background-color: #b16f19;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    
}



button:hover {
    background-color: #d35400;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}